


                            <!--SIDEBAR-->
                            <div class="col-30">
                                <div class="sidebar-wrap">
                                    <div class="sidebar-widget">

                                        <!--AVATAR-->

                                        <div class="sidebar-avatar">
                                            <div class="sidebar-avatar-thumb">
                                                <img src="~/images/Jenny.png" alt="">
                                            </div>
                                            <div class="sidebar-avatar-content">
                                                <h2 class="title">Hi, I’m Jenny!</h2>
                                                <p>I’m SO excited you’re here! I’m super passionate about nutrition, 
                                                    and specialize in teaching others how to lose weight through healthy, 
                                                    low-carb eating. Here at NUHealth, we believe in quality over quantity and 
                                                    that diet is EVERYTHING when it comes to your health and well-being. 
                                                    In short, we believe in being healthy from the inside out.</p>
                                                <div class="avatar-social">
                                                    <ul class="list-wrap">
                                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="sidebar-avatar-shape">
                                                <img src="assets/img/images/avatar_shape01.png" alt="">
                                                <img src="assets/img/images/avatar_shape02.png" alt="">
                                            </div>
                                        </div>

                                        <!--END AVATAR-->

                                          <!--sidebar-search-->
                                        <div class="sidebar-search mt-3">
                                            <form asp-action="SearchIndex" asp-controller="Posts" >
                                                <input   name="SearchTerm" type="text" placeholder="Search . . .">
                                                <button type="submit"><i class="flaticon-search"></i></button>
                                            </form>
                                        </div>
                                          <!--End -search-->
                                    </div>

                                   @*   <!--Category -->
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="widget-title mb-30">
                                            <h6 class="title">Hot Categories</h6>
                                            <div class="section-title-line"></div>
                                        </div>
                                        <div class="sidebar-categories">
                                            <ul class="list-wrap">

                                                <li>
                                                    <a href="blog.html" data-background="assets/img/images/t_cat_img01.jpg">
                                                        <span class="post-tag post-tag-three">YOGA </span>
                                                        <span class="right-arrow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="none">
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                                <path d="M1.72308 16L0 14.2769L11.8154 2.46154H1.23077V0H16V14.7692H13.5385V4.18462L1.72308 16Z" fill="currentcolor"></path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>

                                    <!--Recent-->
                                    <div class="sidebar-widget sidebar-widget-two">
                                        <div class="widget-title mb-30">
                                            <h6 class="title">Recent News</h6>
                                            <div class="section-title-line"></div>
                                        </div>
                                        <div class="hot-post-wrap">
                                            <div class="hot-post-item">
                                                <div class="hot-post-thumb">
                                                    <a href="blog-details.html"><img src="assets/img/blog/blog_rc_post.jpg" alt=""></a>
                                                </div>
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Adventure</a>
                                                    <h4 class="post-title"><a href="blog-details.html">Inspiring Web Design And UX Showcases</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hot-post-item">
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Culture</a>
                                                    <h4 class="post-title"><a href="blog-details.html">Getting Internationalization (i18n) Right With Remix And</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="hot-post-item">
                                                <div class="hot-post-content">
                                                    <a href="blog.html" class="post-tag">Travel</a>
                                                    <h4 class="post-title"><a href="blog-details.html">A Step-By-Step Guide To Building Accessible Carousels</a></h4>
                                                    <div class="blog-post-meta">
                                                        <ul class="list-wrap">
                                                            <li><i class="flaticon-calendar"></i>27 August, 2024</li>
                                                            <li><i class="flaticon-history"></i>20 Mins</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END - Recent-->*@

                                </div>
                            </div>
                       <!-- End Sidebar -->