﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 class="mb-4">About</h1>
            <div class="row mt-4">
                <!-- Blog-->
                <!-- About me-->
                <h2 class="mt-4">Me</h2>
                <p>Hi, my name's Oserhir Youssef and I'm an aspiring software developer.</p>
                <p>For more info, please check my portfolio at <a target="_blank" href="https://youssefoserhir.netlify.app/">www.youssefoserhir.netlify.app</a>.</p>
            </div>
            <div class="row mt-4">
                <h2>The Blog</h2>
                <p>The blog is a place for me to record interesting snippets and findings during my journey to becoming a software developer.</p>
            </div>
            <div class="row mt-4 mb-4">
                <!-- Technologies used-->
                <h2>The Technologies Used</h2>
                    <div class="">
                        <div class="row row-cols-sm-1 row-cols-md-2">
                            <div class="col mt-2">
                                <div class="d-flex gx-1 justify-content-between">
                                    <i class="fab fa-js-square fa-3x jsicon"></i><i class="fab fa-bootstrap fa-3x bsicon"></i>
                                    <i class="fab fa-html5 fa-3x html5icon"></i><i class="fab fa-css3-alt fa-3x css3icon"></i>
                                </div>

                            </div>
                            <div class="col mt-2">
                                <div class="d-flex gx-1 justify-content-between">
                                    <img height="60px" src="https://cdn.cdnlogo.com/logos/c/27/c.svg" /><img height="60px" src="~/img/dotnet-logo.jpg">
                                    <img height="60px" src="~/img/postgresql_original_wordmark_logo_icon_146392.png">
                                    <img height="60px" src="~/img/file_type_git_icon_130581.png">
                                </div>
                            </div>


                        </div>
                    </div>

                
            </div>
        </div>
    </div>
</div>