@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class = "container px-2">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 gy-2">
            <h1>Register</h1>
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <h2>Create a new account.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mt-2">
                    <label asp-for="Input.FirstName"></label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="first name" aria-required="true" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Input.LastName" class="bg-transparent"></label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="last name" aria-required="true" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Input.DisplayName" class="bg-transparent" ></label>
                    <input asp-for="Input.DisplayName" class="form-control" autocomplete="display name" aria-required="true" />
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
            
                  <div class="form-group mt-2">
                    <label>User Image</label>
                    <div class="custom-file">
                        <input asp-for="Input.ImageFile" type="file" class="form-control" accept=".png,.jpg,.jpeg,.bmp,.tif/>
                        <label asp-for="Input.ImageFile" class=""></label>
                    </div>
                </div>

                <div class="mt-2">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="mt-2">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4 mb-4">Register</button>
            </form>
        </div>
         
    </div>
</div>



@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}