﻿
button.btn-sm, a.btn-sm {
    line-height: 2;
    border-radius: 8px;
}

option {
    font-weight: bolder;
}

.btn-block {
    display: block;
    width: 100%;
}

    .btn-block + .btn-block {
        margin-top: .5rem;
    }

.btn {
    border-radius: 8px;
}

.btn-search {
    border-radius: 0px 8px 8px 0px !important;
}

.btn-logout {
    font-size: 0.75rem;
    font-weight: 800;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.55) !important;
}

    .btn-logout:focus, .btn-logout:hover {
        color: rgba(255, 255, 255, 0.8) !important;
    }

.btn-sm:hover {
    border-color: rgba(0, 133, 161, 1.0) !important;
    background-color: rgba(0, 133, 161, 1.0) !important;
    color: white;
}

#mainNav.is-fixed .btn-logout {
    color: #212529 !important;
}

    #mainNav.is-fixed .btn-logout:hover {
        color: #0085A1 !important;
    }

/* Need to colour lougout button between hamburger menu and main menu with @media*/
@media (min-width: 992px) {
    .btn-logout {
        color: #fff !important;
    }
}



input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    width: 100%;
}

div.swal2-container.swal2-center.swal2-backdrop-show > div {
    outline: 1px solid black;
    border: 1px solid #ff0000;
}

.text-search {
    border-radius: 8px 0px 0px 8px !important;
}

.text-line-restrict {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* BLOG POSTS */

.bg-blog-title {
    /*--bs-bg-opacity: 0.5;*/
    background-color: rgba(0,120,235,0.85) !important;
}

.bg-post-title {
    /*--bs-bg-opacity: 1;*/
    background-color: rgba(82,35,107,0.85) !important;
}

/* Tool tips */
.cftooltip * {
    opacity: 1.0 !important;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: black;
    text-align: center;
    background-color: blanchedalmond;
    border-radius: .25rem;
    border: 2px solid #FF993B;
    outline: 4px solid black;
}

.tooltip.show {
    opacity: 1;
}

/* Card styles */
.card-hr {
    color: #212121;
    background-color: #212121;
    height: 4px !important;
}

.card-img-top {
    border-radius: .25rem .25rem 0rem 0rem;
}

.card-img-bottom {
    border-radius: 0rem 0rem .25rem .25rem;
}

.card-img {
    background: no-repeat center center;
    background-color: #6c757d;
    background-size: cover;
    background-attachment: scroll;
}

/* Technology icons */

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(197, 197, 3);
}

.html5icon {
    color: orangered;
}

.css3icon {
    color: rgb(11,82,214);
}

/* Posts */

.post-body {
    /* overflow-x:auto;*/
}
